

<div class="row">
  <div class="span7 offset2">

    <h2>Search Results : Users</h2>
    <br/>
    <br/>
    <div class="offset1">
      <%@users.each do |user| %>
      <div>
        <div><h3><%= link_to user.name, user_path(user.id) %></h3></div>
        <div><%=user.email%></div>
        <div><%= user.major %></div>
        <div><%= user.yog %> </div>

      </div>

      <br/>
      <br/>
      <% end %>
    </div>
  </div>
</div>