// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  border: 3px solid #505050;
  height: 200px;
  position:relative;

}

.links {
  z-index:1;
}